body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;

}

#container {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#canva {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 352px;
    height: 352px;
    margin: 0;
    padding: 0;
    border: 10px solid black;
    border-radius: 10px;
}

#canva>div {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid black;
}

#canva>div:hover {
    background-color: darkolivegreen;
}